@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a demo solution to show some differences found within ASP .NET Core and Entity Framework Core</p>
